@import url('https://fonts.cdnfonts.com/css/arquitecta');

body {
    font-family: 'Arquitecta', sans-serif;
}

/* =====================section-1============= */
.bg-image {
    background-image: url(/assets/images/png/bg-image.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

.navbar {
    padding: 32px 36px 32px 16px;
    border-radius: 24px;
}

.nav-buttn {
    width: 186px;
    height: 52px;
    top: 16px;
    left: 938px;
    gap: 10px;
    border-radius: 56px;
    background-color: var(--color-red);
    border: none;
    transition: all 300ms linear;
}

.nav-item a {
    color: white;
}

.bg-herosection-img {
    background-image: url(/assets/images/png/bg-image.png);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

}


.rotated-1 {
    transform-origin: left;
    transform: rotate(35deg);
}

.rotated-2 {
    transform-origin: left;
    transform: rotate(-35deg);
}

.hero-section-heading {
    max-width: 830px;
}

.hero-sectoin-paragraph {
    max-width: 742px;
}

.hero-section-button {
    width: 173px;
    height: 63px;
    padding: 20px 32px 20px 32px;
    gap: 10px;
    border-radius: 56px;
    opacity: 0px;
    border: none;
    background: var(--color-red);
    transition: all 300ms linear;
}

.nav-links {
    transition: all 300ms linear;
}

.nav-links:hover {
    color: var(--color-red);
}

.google {
    width: 40px;
    height: 40px;
}

.google-box {
    min-width: 229.17px !important;
    height: 80px;
    background: var(--color-white);
    border-radius: 16px;
    border: 0.83px;
}

.hero-section-button:hover {
    color: var(--color-red);
    background: var(--color-white);
    border: 1px solid var(--color-red);
}

.btn-parent {
    border: 1px solid --orange;
}

.navbar-text a {
    color: white !important;
}

.cursor {
    cursor: pointer;
}

/* =====================section-2=================== */
.container-2 { 
    width: fit-content;
    height: 335px;
}
/* ====================section-3======================= */