@import url('https://fonts.cdnfonts.com/css/arquitecta');
@import url(/assets/css/root.css);

body {
    font-family: 'Arquitecta', sans-serif;
}

a {
    text-decoration: none;
}

p,
h2,
h3,
h4 {
    margin-bottom: unset !important;
}

.ml-24 {
    margin-left: 24px;
}

.pt-115 {
    padding-top: 115px;
}

.pl-24 {
    padding-left: 24px;
}

.pr-30 {
    padding-right: 30px;
}

/*===================== Nav-bar================================= */
.nav_btn {
    border: 1px solid #F58505;
    padding: 12px 20px 12px 20px;
    background: #060804;
}

.nav_btn:hover {
    border: 1px solid #EEE916;
    transition: all 300ms linear;
}

.nav_btn:hover a {
    color: var(--fc-yellow);
    transition: all 300ms linear;
}

.navbar-nav :hover {
    font-weight: 900;
}

.gap_35 {
    gap: 35px;
}

.pe_40 {
    padding-right: 40px;
}

.fw-450 {
    font-weight: 450;
}

/* ===================Hero-section================= */
.bg_image {
    background-image: url(/assets/images/png/bg-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mt_202 {
    margin-top: 202px;
}

.mt_60 {
    margin-top: 60px;
}

.ps_34 {
    padding-left: 34px;
}

.ps_23 {
    padding-left: 23px;
}

.hero_content {
    gap: 58px;
}

.hero_para {
    max-width: 633px;
}

.hero_title {
    max-width: 540px;
}

.hero_btn {
    padding: 10px 24px;
    margin-top: 40px;
}

.hero_btn:hover {
    background: var(--fc-yellow);
    transition: all 300ms linear;
}

.hero_btn:hover a {
    color: black !important;
    transition: all 300ms linear;
}

/* =====================================Section-2=========================================== */
.sec_2_data_numbers {
    gap: 120px;
    padding-top: 111px;
    padding-bottom: 111px;
}

.container-2 {
    width: fit-content;
    height: 50vh;
}

/* ==============================Section-3=========================================== */
.sec_3_title {
    padding-top: 100px;
    padding-bottom: 50px;
}

.s2_ep {
    font-weight: 900;
    padding: 3px 10px;
}

.s2_ep_box {
    border-radius: 55px;
}

.podcast_card_para {
    max-width: 695px;
}

.read_more {
    border-bottom: 2px solid black;
    max-width: 64px;
}

.read_more:hover {
    transform: scale(1.1);
}

.podcast_cards {
    border: 1px solid #686C6B;
    padding: 16px;
    max-width: 1180px;
}

.card_play_btn {
    cursor: pointer;
}

.card_play_btn:hover path {
    fill: #F58505;
}

.butns {
    margin-top: 67px;
}

@import url('https://fonts.cdnfonts.com/css/arquitecta');

body {
    font-family: 'Arquitecta', sans-serif;
}

section {
    overflow: hidden;
}

.pl-16 {
    padding-left: 16px;
}

* {
    text-decoration: none;
}

.be-btn {
    padding: 10px 24px 10px 24px;
    gap: 10px;
    border: 2px solid black;
}

.be-btn:hover {
    background: #F58505;
    color: white;
    border-color: #F58505;
}

.have-btn {
    padding: 10px 24px 10px 24px;
    gap: 10px;
    border: 2px solid black;
    margin-left: 10px;
}

.have-btn:hover {
    background: #F58505;
    color: white;
    border-color: #F58505;
}

/* ==============================Section-3=========================================== */

/* ============section-6================ */
.section-4-bg {
    background-image: url(/assets/images/png/section-4-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.compete-para {
    max-width: 730px;
    height: 62px;
}

.name-input {
    width: 330px !important;
    height: 50px;
    border: 1px solid #686C6B;
    color: white;
    background-color: #1D1D1D;
}

.start-btn {
    padding: 10px 113px 10px 113px;
    background: #F58505;
    color: white;
    border: none;
}

.start-btn:hover {
    background-color: white;
    color: #F58505;
}


/* ============section-5================ */
.first-card {
    box-shadow: 0px 0px 20px 1px #00000012;
    height: 322px;
}

.circle-style {
    top: 50%;
    right: 5%;
}

.slick-track {
    display: flex !important;
    gap: 32px !important;
}

.sec-5 .slick-dots li {
    transition: all 200ms linear;
    width: 8px !important;
    height: 8px;
    background-color: #686C6B;
    border-radius: 100%;
}

.sec-5 .slick-dots .slick-active {
    background-color: #F58505 !important;
    height: 15px !important;
    width: 15px !important;
    border-radius: 50%;
}

.sec-5 .slick-dots li button::before {
    content: unset !important;
}

.sec-5 .slick-dots {
    bottom: -50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================section-6==================== */
.links:hover a {
    color: #F58505 !important;

    path {
        stroke: #F58505 !important;
    }
}

.links {
    transition: all 200ms linear !important;
}

.footer-circle {
    width: 35px;
    height: 35px;
    background: #2B2B2B;
    border-radius: 50px;
}

/* ================================RESPONSIVE======================================= */
@media (max-width:1199.8px) {
    .hero_content {
        flex-wrap: wrap-reverse;
    }

    .gap_35 {
        gap: 5px;
    }

    .pe_40 {
        padding-right: 10px;
    }


    .mt_202 {
        margin-top: 150px;
    }

    .mt_60 {
        margin-top: 90px;
    }
}

@media (max-width:991.9px) {
    .mt_202 {
        margin-top: 90px;
    }

    .mt_60 {
        margin-top: 100px;
    }

    .card_details {
        margin-top: 20px;
    }

    .sec_3_title {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .card_play_btn {
        margin-top: 20px;
    }
}

@media (max-width:576px) {
    .circle-style {
        margin-top: 30px;
    }

    .sec-btns {
        flex-direction: column;
        gap: 10px;
    }

    .compete-para {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}